E:\FFIVFE_Dev\FreeEnterprise4\.env
E:\FFIVFE_Dev\FreeEnterprise4\FFR/
FreeEnterprise4\.vscode/
FreeEnterprise4\FreeEnt\__pycache__/
FreeEnterprise4\PyEnv\
FreeEnterprise4\.lastseed
FreeEnterprise4\.gitignore
